In [1]:
import pandas as pd
import sqlite3
#from sqlalchemy import create_engine

In [2]:
# Connection to sqlite database
conn = sqlite3.connect("data/ncss_labdata.sqlite")

In [3]:
# Explore database
cursor = conn.cursor()
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()

for table in tables:
    print(table[0])

st_spatial_reference_systems
st_aux_spatial_reference_systems
sqlite_sequence
st_geometry_columns
st_vtspindex_interface
lab_site
lab_preparation
lab_rosetta_key
lab_method_code
lab_area
lab_analyte
lab_analysis_procedure
lab_pedon
lab_layer
lab_xray_and_thermal
lab_webmap
lab_physical_properties
lab_mineralogy_glass_count
lab_major_and_trace_elements_and_oxides
lab_chemical_properties
lab_calculations_including_estimates_and_default_values
lab_combine_nasis_ncss
st_spindex__lab_combine_nasis_ncss_Shape
st_spindex__lab_combine_nasis_ncss_Shape_rowid
st_spindex__lab_combine_nasis_ncss_Shape_node
st_spindex__lab_combine_nasis_ncss_Shape_parent
lab_mir_wavelength
lab_mir

In [23]:
# Explore tables 1 - lab_webmap
query1 = "SELECT * FROM lab_webmap"
df1 = pd.read_sql_query(query1, conn)
df1.head()
#df1.to_excel('lab_webmap.xlsx',index=False)

,OBJECTID,objectid_1,wmiid,Series,User_pedon_ID,pedon_Key,peiid,Soil_Classification,Primary_Lab_Report,Taxonomy_Report,Supplementary_Lab_Report,Water_Retention_Report,Correlation_Report,pedon_Description_Report,Soil_Profile,Soil_web,lat,long
0,1,1,1,Paxton,S1999NY061001,1,524628.0,"Coarse-loamy, mixed, active, mesic Oxyaquic Dy...",https://ncsslabdatamart.sc.egov.usda.gov/rptEx...,https://ncsslabdatamart.sc.egov.usda.gov/rptEx...,https://ncsslabdatamart.sc.egov.usda.gov/rptEx...,https://ncsslabdatamart.sc.egov.usda.gov/rptEx...,https://ncsslabdatamart.sc.egov.usda.gov/rptEx...,https://nasis.sc.egov.usda.gov/NasisReportsWeb...,https://nasis.sc.egov.usda.gov/NasisReportsWeb...,https://casoilresource.lawr.ucdavis.edu/gmap/?...,40.768696,-73.979195
1,2,2,2,Wyard,S1950ND075005,2,47277.0,"Fine-loamy, mixed, superactive, frigid Typic E...",https://ncsslabdatamart.sc.egov.usda.gov/rptEx...,https://ncsslabdatamart.sc.egov.usda.gov/rptEx...,https://ncsslabdatamart.sc.egov.usda.gov/rptEx...,https://ncsslabdatamart.sc.egov.usda.gov/rptEx...,https://ncsslabdatamart.sc.egov.usda.gov/rptEx...,https://nasis.sc.egov.usda.gov/NasisReportsWeb...,https://nasis.sc.egov.usda.gov/NasisReportsWeb...,https://casoilresource.lawr.ucdavis.edu/gmap/?...,48.805403,-101.734341
2,3,3,3,Cathay,54ND019002,3,47354.0,"Fine-loamy, mixed, frigid Udic Argiboroll",https://ncsslabdatamart.sc.egov.usda.gov/rptEx...,https://ncsslabdatamart.sc.egov.usda.gov/rptEx...,https://ncsslabdatamart.sc.egov.usda.gov/rptEx...,https://ncsslabdatamart.sc.egov.usda.gov/rptEx...,https://ncsslabdatamart.sc.egov.usda.gov/rptEx...,https://nasis.sc.egov.usda.gov/NasisReportsWeb...,https://nasis.sc.egov.usda.gov/NasisReportsWeb...,https://casoilresource.lawr.ucdavis.edu/gmap/?...,48.865424,-98.408366
3,4,4,4,Barnes,S1953ND021002,4,1041793.0,"Fine-loamy, mixed, superactive, frigid Calcic ...",https://ncsslabdatamart.sc.egov.usda.gov/rptEx...,https://ncsslabdatamart.sc.egov.usda.gov/rptEx...,https://ncsslabdatamart.sc.egov.usda.gov/rptEx...,https://ncsslabdatamart.sc.egov.usda.gov/rptEx...,https://ncsslabdatamart.sc.egov.usda.gov/rptEx...,https://nasis.sc.egov.usda.gov/NasisReportsWeb...,https://nasis.sc.egov.usda.gov/NasisReportsWeb...,https://casoilresource.lawr.ucdavis.edu/gmap/?...,45.994999,-98.230835
4,5,5,5,Souris,S1950ND075002,5,47274.0,"Fine-loamy, superactive, frigid Oxyaquic Haplu...",https://ncsslabdatamart.sc.egov.usda.gov/rptEx...,https://ncsslabdatamart.sc.egov.usda.gov/rptEx...,https://ncsslabdatamart.sc.egov.usda.gov/rptEx...,https://ncsslabdatamart.sc.egov.usda.gov/rptEx...,https://ncsslabdatamart.sc.egov.usda.gov/rptEx...,https://nasis.sc.egov.usda.gov/NasisReportsWeb...,https://nasis.sc.egov.usda.gov/NasisReportsWeb...,https://casoilresource.lawr.ucdavis.edu/gmap/?...,48.899166,-101.540276

In [5]:
# Explore tables 2 - sqlite_sequence
query2 = "SELECT * FROM sqlite_sequence"
df2 = pd.read_sql_query(query2, conn)
df2

                                                 name     seq
0                    st_aux_spatial_reference_systems  300000
1                                            lab_site  129650
2                                     lab_preparation      62
3                                     lab_rosetta_key   79211
4                                     lab_method_code     806
5                                            lab_area   12123
6                                         lab_analyte    2360
7                              lab_analysis_procedure     514
8                                           lab_pedon   67384
9                                           lab_layer  417656
10                               lab_xray_and_thermal   68921
11                                         lab_webmap   54942
12                            lab_physical_properties  406281
13                         lab_mineralogy_glass_count   35683
14            lab_major_and_trace_elements_and_oxides   34515
15                            lab_chemical_properties  325740
16  lab_calculations_including_estimates_and_defau...  191434
17                                st_geometry_columns       1
18                             lab_combine_nasis_ncss   67328
19                                 lab_mir_wavelength       2
20                                            lab_mir  342799

In [6]:
# Explore tables 3 - st_geometry_columns
query3 = "SELECT * FROM st_geometry_columns"
df3 = pd.read_sql_query(query3, conn)
df3

,gcid,f_table_name,f_geometry_column,geometry_type,coord_dimension,srid,spatial_index_type
0,1,lab_combine_nasis_ncss,Shape,1,2,4326,RTREEXY

In [25]:
# Explore tables 4 - lab_site
# ** lat and long to find city, then map to county **
query4 = "SELECT * FROM lab_site"
df4 = pd.read_sql_query(query4, conn)
df4.head()

,OBJECTID,objectid_1,site_key,user_site_id,horizontal_datum_name,latitude_direction,latitude_degrees,latitude_minutes,latitude_seconds,longitude_direction,longitude_degrees,longitude_minutes,longitude_seconds,latitude_std_decimal_degrees,longitude_std_decimal_degrees,msrepl_tran_version
0,1,1,1,99NY061001,NAD83,north,40.0,46.0,7.3,west,73.0,58.0,45.099998,40.768703,-73.979195,{82272B3E-645B-405E-836C-5C6A35D49EB0}
1,2,2,2,50ND075005,None,north,48.0,48.0,18.0,west,101.0,44.0,3.000000,48.804970,-101.734718,{F0B36B63-70A4-4ECB-B47D-2A40EAEA59CD}
2,3,3,3,54ND019002,None,north,48.0,51.0,56.0,west,98.0,24.0,30.000000,48.865540,-98.408760,{F3A17754-9A5A-4400-9D70-CD44B1CFC248}
3,4,4,4,53ND021002,None,north,45.0,59.0,42.0,west,98.0,13.0,51.000000,45.994980,-98.231232,{69268B5C-D2F7-42B9-8E80-BC4FD1BF42ED}
4,5,5,5,50ND075002,None,north,48.0,53.0,57.0,west,101.0,32.0,25.000000,48.899139,-101.540817,{46625DDA-300F-483F-B4E4-977297C5B13E}

In [8]:
# Explore tables 5 - lab_preparation
query5 = "SELECT * FROM lab_preparation"
df5 = pd.read_sql_query(query5, conn)
df5.head()

,OBJECTID,objectid_1,prep_key,prep_code,prep_abbrev,moisture_state,orig_size_frac,final_size_frac,prep_desc,prep_rpt_sort_order
0,1,1,1,CLODDB,Caj,moist,whole soil,<2 mm,The moist soil clod used for bulk density dete...,26.0
1,2,2,2,GP,Gaa,air-dry,whole soil,whole soil,The air-dried whole soil including all coarse ...,15.0
2,3,3,3,GP,Gaf,air-dry,whole soil,<80 Mesh,The air-dried whole soil including all coarse ...,13.0
3,4,4,4,GP,Gaj,air-dry,whole soil,<2 mm,The air-dried whole soil including all coarse ...,11.0
4,5,5,5,HM,Haa,air-dry,whole soil,whole soil,The air-dried whole soil including all coarse ...,20.0

In [9]:
# Explore tables 6 - lab_xray_and_thermal
query6 = "SELECT * FROM lab_xray_and_thermal"
df6 = pd.read_sql_query(query6, conn)
#df6.head()
df6.tail()

,OBJECTID,objectid_1,layer_key,labsampnum,result_source_key,prep_code,analyzed_size_frac,X_Ray_Method,AM_Amphibole_X_Ray,LC_Anacime_X_Ray,...,KH_Halloysite_thermal_Gravimetric_Analysis,MT_Montmorillonite_thermal_Gravimetric_Analysis,PG_Palygorskite_thermal_Gravimetric_Analysis,CA_Calcite_thermal_Gravimetric_Analysis,Differential_thermal_Analysis_Method,GI_Gibbsite_Differential_thermal_Analysis,KK_Kaolinite_Differential_thermal_Analysis,GE_Geothite_Differential_thermal_Analysis,KH_Halloysite_Differential_thermal_Analysis,QZ_Quartz_Differential_thermal_Analysis
68916,68917,15954046,15954046,22N00334,15954046,S,<0.002 mm,7A1b1,NaN,NaN,...,NaN,NaN,None,NaN,None,NaN,NaN,NaN,NaN,NaN
68917,68918,15954051,15954051,22N00339,15954051,None,<0.002 mm,None,NaN,NaN,...,NaN,NaN,None,NaN,None,NaN,NaN,NaN,NaN,NaN
68918,68919,15954051,15954051,22N00339,15954051,S,<0.002 mm,7A1b1,NaN,NaN,...,NaN,NaN,None,NaN,None,NaN,NaN,NaN,NaN,NaN
68919,68920,15954062,15954062,22N00350,15954062,S,<0.002 mm,7A1b1,NaN,NaN,...,NaN,NaN,None,NaN,None,NaN,NaN,NaN,NaN,NaN
68920,68921,15954062,15954062,22N00350,15954062,None,<0.002 mm,None,NaN,NaN,...,NaN,NaN,None,NaN,None,NaN,NaN,NaN,NaN,NaN

In [10]:
# Explore tables 7 - lab_physical_properties
query7 = "SELECT * FROM lab_physical_properties"
df7 = pd.read_sql_query(query7, conn)
df7.head()

,OBJECTID,objectid_1,layer_key,labsampnum,result_source_key,prep_code,texture_lab,particle_size_method,clay_total,silt_total,...,bulk_density_rewet_oven_dry_method,mineral_content_loss_on_ignition,mineral_content_loss_ignition_method,estimated_organic_matter,estimated_om_plus_mineral,fiber_analysis_method,fiber_unrubbed,fiber_rubbed,decomposition_state,limnic_material_type
0,1,1,1,00P00001,1,S,l,3A1a1a,8.6,39.7,...,None,NaN,None,NaN,NaN,None,NaN,NaN,None,None
1,2,2,2,00P00002,2,S,l,3A1a1a,9.4,41.9,...,None,NaN,None,NaN,NaN,None,NaN,NaN,None,None
2,3,3,3,00P00003,3,S,l,3A1a1a,9.8,40.2,...,None,NaN,None,NaN,NaN,None,NaN,NaN,None,None
3,4,4,4,00P00004,4,S,l,3A1a1a,9.8,38.3,...,None,NaN,None,NaN,NaN,None,NaN,NaN,None,None
4,5,5,5,00P00005,5,S,sl,3A1a1a,9.9,22.8,...,None,NaN,None,NaN,NaN,None,NaN,NaN,None,None

In [11]:
# Explore tables 8 - lab_mineralogy_glass_count
query8 = "SELECT * FROM lab_mineralogy_glass_count"
df8 = pd.read_sql_query(query8, conn)
df8.head()

,OBJECTID,objectid_1,layer_key,labsampnum,result_source_key,prep_code,analyzed_size_frac,Glass_Count_Method,BG_Basic_Glass_Count,DI_Diatoms_Glass_Count,...,TD_Tridymite_Petro_Count,TH_thenardite_Petro_Count,HY_Hypersthene_Petro_Count,HS_Hydroxy_Interlayer_Smectite_Petro_Count,HV_Hydroxy_Interlayer_Vermiculite_Petro_Count,PM_Pumice_Petro_Count,SZ_Serpentine_Petro_Count,Total_Grains_Counted,Resistant_Minerals_Total_Mineral_Soil,Glass_Count_Mineral_Interpretation
0,1,1,1,00P00001,1,S,0.02-0.05 mm,None,NaN,NaN,...,None,None,NaN,None,None,None,NaN,310.0,61.0,None
1,2,3,3,00P00003,3,S,0.02-0.05 mm,None,NaN,NaN,...,None,None,NaN,None,None,None,NaN,300.0,54.0,None
2,3,5,5,00P00005,5,S,0.1-0.25 mm,None,NaN,NaN,...,None,None,NaN,None,None,None,NaN,300.0,75.0,None
3,4,6,6,00P00006,6,S,0.1-0.25 mm,None,NaN,NaN,...,None,None,NaN,None,None,None,NaN,300.0,61.0,None
4,5,7,7,00P00007,7,S,0.1-0.25 mm,None,NaN,NaN,...,None,None,NaN,None,None,None,NaN,300.0,63.0,None

In [30]:
df8.columns

Index(['OBJECTID', 'objectid_1', 'layer_key', 'labsampnum',
       'result_source_key', 'prep_code', 'analyzed_size_frac',
       'Glass_Count_Method', 'BG_Basic_Glass_Count', 'DI_Diatoms_Glass_Count',
       ...
       'TD_Tridymite_Petro_Count', 'TH_thenardite_Petro_Count',
       'HY_Hypersthene_Petro_Count',
       'HS_Hydroxy_Interlayer_Smectite_Petro_Count',
       'HV_Hydroxy_Interlayer_Vermiculite_Petro_Count',
       'PM_Pumice_Petro_Count', 'SZ_Serpentine_Petro_Count',
       'Total_Grains_Counted', 'Resistant_Minerals_Total_Mineral_Soil',
       'Glass_Count_Mineral_Interpretation'],
      dtype='object', length=198)

In [12]:
# Explore tables 9 - lab_major_and_trace_elements_and_oxides
query9 = "SELECT * FROM lab_major_and_trace_elements_and_oxides"
df9 = pd.read_sql_query(query9, conn)
df9.head()

,OBJECTID,objectid_1,layer_key,labsampnum,result_source_key,prep_code,major_element_method,aluminum_major_element,calcium_major_element,iron_major_element,...,selenium_trace_element,tin_trace_element,strontium_trace_element,thallium_trace_element,vanadium_trace_element,tungsten_trace_element,zinc_trace_element,iron_oxide_total,aluminum_oxide_total,potassium_oxide_total
0,1,1,1,00P00001,1,S,4H1b,27500.0,2990.0,24346.0,...,NaN,NaN,NaN,None,NaN,NaN,116.08,NaN,NaN,NaN
1,2,2,2,00P00002,2,S,4H1b,27908.0,2109.0,20599.0,...,NaN,NaN,NaN,None,NaN,NaN,89.84,NaN,NaN,NaN
2,3,3,3,00P00003,3,S,4H1b,28874.0,2210.0,21913.0,...,NaN,NaN,NaN,None,NaN,NaN,80.31,NaN,NaN,NaN
3,4,4,4,00P00004,4,S,4H1b,29026.0,1982.0,22078.0,...,NaN,NaN,NaN,None,NaN,NaN,82.05,NaN,NaN,NaN
4,5,5,5,00P00005,5,S,4H1b,33307.0,2235.0,25231.0,...,NaN,NaN,NaN,None,NaN,NaN,86.56,NaN,NaN,NaN

In [31]:
df9.columns

Index(['OBJECTID', 'objectid_1', 'layer_key', 'labsampnum',
       'result_source_key', 'prep_code', 'major_element_method',
       'aluminum_major_element', 'calcium_major_element', 'iron_major_element',
       'potassium_major_element', 'magnesium_major_element',
       'manganese_major_element', 'sodium_major_element',
       'phosphorus_major_element', 'silicon_major_element',
       'strontium_major_element', 'titanium_major_element',
       'zirconium_major_element', 'trace_element_method',
       'silver_trace_element', 'arsenic_trace_element', 'barium_trace_element',
       'beryllium_trace_element', 'cadmium_trace_element',
       'cobalt_trace_element', 'chromium_trace_element',
       'copper_trace_element', 'mercury_trace_element',
       'manganese_trace_element', 'molybdenum_trace_element',
       'nickel_trace_element', 'phosphorus_trace_element',
       'lead_trace_element', 'antimony_trace_element',
       'selenium_trace_element', 'tin_trace_element',
       'strontium_trace_element', 'thallium_trace_element',
       'vanadium_trace_element', 'tungsten_trace_element',
       'zinc_trace_element', 'iron_oxide_total', 'aluminum_oxide_total',
       'potassium_oxide_total'],
      dtype='object')

In [13]:
# Explore tables 10 - lab_chemical_properties
query10 = "SELECT * FROM lab_chemical_properties"
df10 = pd.read_sql_query(query10, conn)
df10.head()

,OBJECTID,objectid_1,layer_key,labsampnum,result_source_key,prep_code,ca_nh4_ph_7,ca_nh4_ph_7_method,mg_nh4_ph_7,mg_nh4_ph_7_method,...,estimated_organic_carbon,carbon_to_nitrogen_ratio,aluminum_plus_half_iron_oxalate,caco3_lt_20_mm,gypsum_lt_20_mm,ca_to_mg_ratio,total_estimated_salts_satx,exchangeable_sodium,sodium_absorption_ratio,phosphorus_anion_resin_capacity
0,1,1,1,00P00001,1,HM,4.35,6N2i,1.06,6O2h,...,6.9,24.0,0.41,NaN,NaN,NaN,0.0,3.0,NaN,NaN
1,2,2,2,00P00002,2,HM,1.11,6N2i,0.27,6O2h,...,2.6,23.0,0.34,NaN,NaN,NaN,NaN,3.0,NaN,NaN
2,3,3,3,00P00003,3,HM,0.49,6N2i,0.12,6O2h,...,2.0,NaN,0.29,NaN,NaN,NaN,NaN,5.0,NaN,NaN
3,4,4,4,00P00004,4,HM,0.59,6N2i,0.15,6O2h,...,0.9,NaN,0.24,NaN,NaN,NaN,NaN,6.0,NaN,NaN
4,5,5,5,00P00005,5,HM,0.91,6N2i,0.25,6O2h,...,0.2,NaN,0.26,NaN,NaN,NaN,NaN,5.0,NaN,NaN

In [33]:
df10.columns

Index(['OBJECTID', 'objectid_1', 'layer_key', 'labsampnum',
       'result_source_key', 'prep_code', 'ca_nh4_ph_7', 'ca_nh4_ph_7_method',
       'mg_nh4_ph_7', 'mg_nh4_ph_7_method',
       ...
       'estimated_organic_carbon', 'carbon_to_nitrogen_ratio',
       'aluminum_plus_half_iron_oxalate', 'caco3_lt_20_mm', 'gypsum_lt_20_mm',
       'ca_to_mg_ratio', 'total_estimated_salts_satx', 'exchangeable_sodium',
       'sodium_absorption_ratio', 'phosphorus_anion_resin_capacity'],
      dtype='object', length=210)

In [27]:
# Explore tables 11 - lab_calculations_including_estimates_and_default_values
query11 = "SELECT * FROM lab_calculations_including_estimates_and_default_values"
df11 = pd.read_sql_query(query11, conn)
df11.head()

,OBJECTID,objectid_1,layer_key,labsampnum,result_source_key,prep_code,bulk_density_3rd_bar_for_calc,bulk_density_3rd_bar_source,particle_density_for_calc,particle_density_calc_source,...,percent_passing_3_eights_inch,percent_passing_no_4_sieve,percent_passing_no_10_sieve,percent_passing_no_40_sieve,percent_passing_no_200_sieve,percent_passing_20_micron_sieve,percent_passing_5_micron_sieve,percent_passing_2_micron_sieve,cumulative_curve_less_than_1mm,cumulative_curve_lt_1_half_mm
0,1,1,1,00P00001,1,None,1.45,default,2.65,default,...,100.0,99.0,98.0,90.0,57.0,25.0,15.0,8.0,97.0,92.0
1,2,2,2,00P00002,2,None,1.34,db_13b,2.65,pd_g2,...,94.0,93.0,91.0,83.0,56.0,25.0,15.0,9.0,89.0,85.0
2,3,3,3,00P00003,3,None,1.44,db_13b,2.65,pd_g2,...,96.0,94.0,91.0,83.0,54.0,25.0,15.0,9.0,89.0,85.0
3,4,4,4,00P00004,4,None,1.47,db_13b,2.65,pd_g2,...,90.0,89.0,87.0,78.0,50.0,23.0,14.0,9.0,85.0,80.0
4,5,5,5,00P00005,5,None,1.68,db_13b,2.65,pd_g2,...,98.0,96.0,89.0,70.0,34.0,19.0,13.0,9.0,84.0,75.0

In [34]:
df11.columns

Index(['OBJECTID', 'objectid_1', 'layer_key', 'labsampnum',
       'result_source_key', 'prep_code', 'bulk_density_3rd_bar_for_calc',
       'bulk_density_3rd_bar_source', 'particle_density_for_calc',
       'particle_density_calc_source', 'bulk_density_third_bar_ws',
       'bulk_density_oven_dry_ws', 'bulk_density_saturated_whole_soil',
       'volume_pct_lt_2_mm_third_ws', 'volume_pct_usda_sand_ws',
       'vol_pct_usda_silt_third_bar_ws', 'volume_pct_usda_clay_ws',
       'pct_pores_drained_third_bar_ws', 'pct_pores_filled_third_bar_ws',
       'wt_pct_gt_2_mm_clay_free_ws', 'wt_pct_2_75_mm_clay_free_ws',
       'wt_pct_2_20_mm_clay_free_ws', 'wt_pct_sand_clay_free_ws',
       'wt_pct_silt_clay_free_ws', 'wt_pct_tot_clay_clay_free_ws',
       'wt_pct_vcs_clay_free_lt2mmbase', 'wt_pct_cs_clay_free_lt2mmbase',
       'wt_pct_ms_clay_free_lt2mmbase', 'wt_pct_fs_clay_free_lt2mmbase',
       'wt_pct_vfs_clay_free_lt2mmbase', 'wt_pct_csi_clay_free_lt2mmbase',
       'wt_pct_fsi_clay_free_lt2mmbase', 'wt_pct_clay_clay_free_2mm_base',
       'wf_25', 'wf_520', 'wf_2075', 'wf_0175', 'percent_passing_3_inch_sieve',
       'bulk_density_whole_soil_moist', 'weight_percent_gt_2_mm_ws',
       'weight_percent_gt_250_mm_ws', 'weight_pct_75_to_250_mm_ws',
       'weight_pct_2_to_75_mm_ws', 'weight_pct_20_to_75_mm_ws',
       'weight_pct_5_to_20_mm_ws', 'cumulative_curve_lt_1_fourth_mm',
       'cumulative_curve_lt_1_tenth_mm', 'cumulative_curve_lt_5_hundredths',
       'cumulative_curve_size_lt_60_pe', 'cumulative_curve_size_lt_50_pe',
       'cumulative_curve_size_lt_10_pe', 'gradiation_uniformity',
       'gradation_curvature', 'le_third_ovendry_whole_soil',
       'le_third_bar_to_oven_dry_rewet', 'le_third_fifteen_whole_soil',
       'void_ratio_third_bar_lt_2_mm', 'void_ratio_third_bar_whole_soil',
       'water_retention_difference_ws', 'pores_drained_third_bar_ws',
       'pores_filled_third_bar_ws', 'weight_pct_2_to_5_mm_ws',
       'weight_pct_less_than_2_mm_ws', 'volume_pct_gt_2_mm_thirdbar_ws',
       'volume_pct_gt_250_mm_thirdbar_ws', 'volume_pct_75_to_250_mm_third_ws',
       'volume_pct_2_to_75_mm_third_ws', 'volume_pct_20_to_75_mm_third_ws',
       'volume_pct_5_to_20_mm_third_ws', 'volume_pct_2_to_5_mm_third_ws',
       'percent_passing_2_inch_sieve', 'percent_passing_1_and_1_half',
       'percent_passing_1_inch_sieve', 'percent_passing_3_quarter_inch',
       'percent_passing_3_eights_inch', 'percent_passing_no_4_sieve',
       'percent_passing_no_10_sieve', 'percent_passing_no_40_sieve',
       'percent_passing_no_200_sieve', 'percent_passing_20_micron_sieve',
       'percent_passing_5_micron_sieve', 'percent_passing_2_micron_sieve',
       'cumulative_curve_less_than_1mm', 'cumulative_curve_lt_1_half_mm'],
      dtype='object')

In [15]:
# Explore tables 12 - lab_combine_nasis_ncss
# ** this table connects results tables to df4 which has lat and long **
query12 = "SELECT * FROM lab_combine_nasis_ncss"
df12 = pd.read_sql_query(query12, conn)
df12.head()

,OBJECTID,Shape,objectid_1,pedon_key,site_key,pedlabsampnum,peiid,upedonid,labdatadescflag,priority,...,mlra_key,ssa_key,npark_key,nforest_key,note,samp_taxfamhahatmatcl,corr_taxfamhahatmatcl,SSL_taxfamhahatmatcl,pedobjupdate,siteobjupdate
0,1,b'd\xe6\x10\x00\x01\x00\x00\x00\x04\x01\x0c\x0...,1,1,1,00P0001,524628.0,S1999NY061001,1.0,B,...,7763.0,9431.0,NaN,NaN,NASIS updated 5/4/2020 7:35:43 AM,None,None,None,2.457456e+06,2.457590e+06
1,2,b'd\xe6\x10\x00\x01\x00\x00\x00\x04\x01\x0c\x0...,2,2,2,40A0001,47277.0,S1950ND075005,1.0,B,...,7624.0,8326.0,NaN,NaN,NASIS updated 5/4/2020 8:01:21 AM,None,None,None,2.457830e+06,2.457819e+06
2,3,b'd\xe6\x10\x00\x01\x00\x00\x00\x04\x01\x0c\x0...,3,3,3,40A0010,47354.0,54ND019002,0.0,B,...,7624.0,8298.0,NaN,NaN,NASIS updated 5/4/2020 8:01:21 AM,None,None,None,2.456911e+06,2.456815e+06
3,4,b'd\xe6\x10\x00\x01\x00\x00\x00\x04\x01\x0c\x0...,4,4,4,40A0011,1041793.0,S1953ND021002,1.0,B,...,7625.0,8299.0,NaN,NaN,NASIS updated 5/4/2020 8:01:21 AM,None,None,None,2.458130e+06,2.457590e+06
4,5,b'd\xe6\x10\x00\x01\x00\x00\x00\x04\x01\x0c\x0...,5,5,5,40A0012,47274.0,S1950ND075002,1.0,B,...,7624.0,8326.0,NaN,NaN,NASIS updated 5/4/2020 8:01:21 AM,None,None,None,2.457830e+06,2.457819e+06

In [16]:
# Explore tables 13 - lab_rosetta_key
query13 = "SELECT * FROM lab_rosetta_key"
df13 = pd.read_sql_query(query13, conn)
df13.head()

,OBJECTID,objectid_1,rosetta_key,result_source_key,layer_key,theta_r,theta_s,alpha,npar,usedmodel,wlupdated,Ks,Ko,Lpar
0,1,426,426,426,2,0.036638,0.395298,-2.607639,0.255253,NaN,NaN,1.434189,0.067993,0.927899
1,2,427,427,427,3,0.032627,0.374104,-2.457198,0.220751,NaN,NaN,1.308056,0.181163,0.700318
2,3,428,428,428,4,0.028680,0.364452,-2.343549,0.201412,NaN,NaN,1.305420,0.302980,0.555490
3,4,429,429,429,5,0.028117,0.334446,-2.007499,0.145876,NaN,NaN,1.007012,0.641030,-0.244220
4,5,430,430,430,6,0.021179,0.295343,-2.000153,0.146418,NaN,NaN,0.876019,0.692481,-0.334942

In [17]:
# Explore tables 14 - lab_method_code
query14 = "SELECT * FROM lab_method_code"
df14 = pd.read_sql_query(query14, conn)
df14.head()

,OBJECTID,objectid_1,mcid,procedure_key,requested_anal_name,proced_name,proced_abbrev,proced_desc,proced_code,source_system_key,source_system_name
0,1,1,1,1,Aggregate Stability,"Aggregate Stability, 2- to 0.5-mm Aggregates R...",AGGSTAB,"SSIR No. 42, version 4, page 163",3F1a1a,1,SSL LIMS Version 1.0
1,2,2,2,1,Aggregate Stability,"Aggregate Stability, 2- to 0.5-mm Aggregates R...",AGGSTAB,"SSIR No. 42, version 4, page 163",3F1a1a,2,NSSL CMS
2,3,3,3,1,Aggregate Stability,"Aggregate Stability, 2- to 0.5-mm Aggregates R...",AGGSTAB,"SSIR No. 42, version 4, page 163",3F1a1a,1,SSL LIMS Version 1.0
3,4,4,4,1,Aggregate Stability,"Aggregate Stability, 2- to 0.5-mm Aggregates R...",AGGSTAB,"SSIR No. 42, version 4, page 163",3F1a1a,2,NSSL CMS
4,5,5,5,2,Atterberg Limits,"Atterberg Limits, NSMC Lab",ATTERBERG,"SSIR No. 42, version 4, page 167",3H,1,SSL LIMS Version 1.0

In [18]:
# Explore tables 15 - lab_analyte
query15 = "SELECT * FROM lab_analyte"
df15 = pd.read_sql_query(query15, conn)
df15.head()

,OBJECTID,objectid_1,analyte_key,analyte_type,analyte_name,column_name,analyte_abbrev,analyte_code,analyte_data_type,analyte_format,uom_abbrev,analyte_source_type,analyte_agg_method,analyte_algorithm,analyte_desc,analyte_size_frac_base
0,1,1,1,aggregate analyte,"Aggregate Stability, 0.5-2mm Aggregates",None,aggstb,AggStb,I,4.0,% wt,layer,mean,To Be Added,Aggregate stability is the weight percent of 0...,None
1,2,2,2,aggregate analyte,"Liquid Limit, Atterberg",None,abgll,abgll,C,4,% H2O,layer,concat,To Be Added,Atterberg liquid limit is the gravimetric perc...,None
2,3,3,3,aggregate analyte,"Plastic Limit, Atterberg",None,abgpl,abgpl,I,4.0,% H2O,layer,mean,To Be Added,Atterberg plastic limit is the water content o...,None
3,4,4,4,aggregate analyte,"Bulk Density, <2mm Fraction, 1/3 Bar",None,db_13b,Db1/3,F,4.2,g/cc,layer,mean,[db_13b],"Bulk density, <2 mm fraction, 1/3 bar is the w...",None
4,5,5,5,aggregate analyte,"Bulk Density, <2mm Fraction, Ovendry",None,db_od,DbOD,F,4.2,g/cc,layer,mean,[db_od],"Bulk density, oven dry (105 C) is the weight p...",None

In [19]:
# Explore tables 16 - lab_analysis_procedure
query16 = "SELECT * FROM lab_analysis_procedure"
df16 = pd.read_sql_query(query16, conn)
df16.head()

,OBJECTID,objectid_1,apid,procedure_key,requested_anal_name,proced_name,proced_abbrev,proced_desc,SSIR_5_Page,PDF_pg,Links_to_SSIR_42_V_5,notes
0,1,513,513,0,"Bulk Density, <2 mm Fraction, 1/10 Bar","Bulk Density, 1/10-Bar Desorption",unknown,"SSIR No. 1, version 1974, page 15",0,28,,
1,2,514,514,0,Sample Preparation,Bulk Sample Preparation,BlkSmpPrep,"SSIR No. 42, version 4, page 16",0,28,,
2,3,1,1,1,Aggregate Stability,"Aggregate Stability, 2- to 0.5-mm Aggregates R...",AGGSTAB,"SSIR No. 42, version 4, page 163",213,241,http://www.nrcs.usda.gov/Internet/FSE_DOCUMENT...,
3,4,2,2,2,Atterberg Limits,"Atterberg Limits, NSMC Lab",ATTERBERG,"SSIR No. 42, version 4, page 167",218,246,http://www.nrcs.usda.gov/Internet/FSE_DOCUMENT...,
4,5,3,3,3,"Bulk Density, Clod","Bulk Density and Water Retention, Pressure-Pla...",DBH2ORET,"SSIR No. 42, version 4, page 104",138,166,http://www.nrcs.usda.gov/Internet/FSE_DOCUMENT...,"what is on v.4 page 104 is on v.5 138, but it ..."

In [20]:
# Explore tables 17 - lab_layer
# ** this table could also help to connect df4 to results **
query17 = "SELECT * FROM lab_layer"
df17 = pd.read_sql_query(query17, conn)
df17.head()

,OBJECTID,objectid_1,layer_key,labsampnum,project_key,site_key,pedon_key,layer_sequence,layer_type,layer_field_label_1,...,hzn_desgn_old,hzn_desgn,hzn_discontinuity,hzn_master,hzn_prime,hzn_vert_subdvn,hzn_desgn_other,non_hzn_desgn,stratified_textures_flag,texture_description
0,1,15746880,15746880,09N04828,5363,NaN,NaN,104.0,horizon,S08TC003005,...,C2,C2,NaN,C,None,2.0,None,None,0.0,None
1,2,15746881,15746881,09N04829,5363,NaN,NaN,105.0,horizon,S08TC008001,...,A/Oijj,A/Oijj,NaN,A,None,NaN,None,None,0.0,None
2,3,15746882,15746882,09N04830,5363,NaN,NaN,106.0,horizon,S09TC004001,...,Cg,Cg,NaN,C,None,NaN,None,None,0.0,None
3,4,15746883,15746883,09N04831,5363,NaN,NaN,107.0,horizon,S09TC011001,...,Bg,Bg,NaN,B,None,NaN,None,None,0.0,None
4,5,1,1,00P00001,3417,1.0,1.0,1.0,horizon,None,...,A\r\n,A,NaN,A,None,NaN,None,None,0.0,Loam

In [21]:
# Explore other tables to find data connections between tables
#query_test = "SELECT * FROM st_spatial_reference_systems" #no such module: VSRS
#query_test = "SELECT * FROM st_aux_spatial_reference_systems"
#query_test = "SELECT * FROM st_vtspindex_interface" #no such module: VTSpindex
query_test = "SELECT * FROM st_spindex__lab_combine_nasis_ncss_Shape_rowid"
df_test = pd.read_sql_query(query_test, conn)
df_test.head()

   rowid  nodeno
0      1      11
1      2      17
2      3     750
3      4     264
4      5      17