In [21]:
import pandas as pd

In [22]:
foodbourne = pd.read_csv('BEAM_Dashboard_-_Serotypes_of_concern__Illnesses_and_Outbreaks_20240403 (1).csv')
waterbourne = pd.read_csv('BEAM_Dashboard_-_Isolates_by_HHS_Region_20240403.csv')

In [23]:
foodbourne

,table_id,Food_category,Year_first_ill,Serotype,No_of_illnesses,No_of_outbreaks,Pathogen,Year,Year_range,Running_total_by_year_range
0,Beef_Braenderup_2011-2015,Beef,2011,Braenderup,0,0,Salmonella,2020,2011-2015,0
1,Beef_Braenderup_2011-2015,Beef,2012,Braenderup,0,0,Salmonella,2020,2011-2015,0
2,Beef_Braenderup_2011-2015,Beef,2013,Braenderup,0,0,Salmonella,2020,2011-2015,0
3,Beef_Braenderup_2011-2015,Beef,2014,Braenderup,0,0,Salmonella,2020,2011-2015,0
4,Beef_Braenderup_2011-2015,Beef,2015,Braenderup,0,0,Salmonella,2020,2011-2015,0
...,...,...,...,...,...,...,...,...,...,...
1265,Turkey_Typhimurium_2017-2021,Turkey,2017,Typhimurium,0,0,Salmonella,2021,2017-2021,0
1266,Turkey_Typhimurium_2017-2021,Turkey,2018,Typhimurium,0,0,Salmonella,2021,2017-2021,0
1267,Turkey_Typhimurium_2017-2021,Turkey,2019,Typhimurium,0,0,Salmonella,2021,2017-2021,0
1268,Turkey_Typhimurium_2017-2021,Turkey,2020,Typhimurium,0,0,Salmonella,2021,2017-2021,0
1269,Turkey_Typhimurium_2017-2021,Turkey,2021,Typhimurium,0,0,Salmonella,2021,2017-2021,0

In [26]:
# Define the condition for filtering
condition = foodbourne['Year_first_ill'].isin([2022, 2017])

# Apply the condition to filter the DataFrame
filtered_foodbourne = foodbourne[condition]

# Display the filtered DataFrame
filtered_foodbourne.head()

,table_id,Food_category,Year_first_ill,Serotype,No_of_illnesses,No_of_outbreaks,Pathogen,Year,Year_range,Running_total_by_year_range
11,Beef_Braenderup_2016-2020,Beef,2017,Braenderup,11,2,Salmonella,2020,2016-2020,11
15,Beef_Braenderup_2017-2021,Beef,2017,Braenderup,11,2,Salmonella,2021,2017-2021,11
31,Beef_Dublin_2016-2020,Beef,2017,Dublin,0,0,Salmonella,2020,2016-2020,0
35,Beef_Dublin_2017-2021,Beef,2017,Dublin,0,0,Salmonella,2021,2017-2021,0
51,Beef_Enteritidis_2016-2020,Beef,2017,Enteritidis,6,1,Salmonella,2020,2016-2020,6

In [9]:
waterbourne

,Year,Quarter,Month,HHS_Region,Pathogen,Number_of_isolates,Past_two_years_average
0,2023,1,1,Region 1 - Boston,Campylobacter,26,16.5
1,2023,1,2,Region 1 - Boston,Campylobacter,12,10.0
2,2023,1,3,Region 1 - Boston,Campylobacter,14,14.0
3,2023,2,4,Region 1 - Boston,Campylobacter,29,10.5
4,2023,2,5,Region 1 - Boston,Campylobacter,22,14.5
...,...,...,...,...,...,...,...
745,2023,4,11,Region 9 - San Francisco,Vibrio,0,3.0
746,2023,4,12,Region 9 - San Francisco,Vibrio,0,2.0
747,2024,1,1,Region 9 - San Francisco,Vibrio,3,2.0
748,2024,1,2,Region 9 - San Francisco,Vibrio,4,1.5
749,2024,1,3,Region 9 - San Francisco,Vibrio,0,1.0