In [1]:
import pandas as pd
from pathlib import Path

In [2]:
pesticides_2019 = pd.read_csv(Path("2019_pesticide_by_county.csv"))
pesticides_2019.head()

,AREA_FIPS_CODE,"2,4-D",ACEPHATE,ACETAMIPRID,ACETOCHLOR,ATRAZINE,AZOXYSTROBIN,BENTAZONE,BENZOVINDIFLUPYR,BOSCALID,...,TEBUCONAZOLE,TEBUPIRIMPHOS,TEBUTHIURON,TERBUFOS,TETRACONAZOLE,THIAMETHOXAM,THIOBENCARB,TRICLOPYR,TRIFLOXYSTROBIN,Grand Total
0,10001,12874.8,NaN,NaN,8918.9,32489.9,967.9,NaN,16.2,NaN,...,621.0,NaN,NaN,1895.9,NaN,NaN,NaN,NaN,226.1,213302.8
1,10003,1424.7,2.4,0.9,3130.3,8243.2,301.5,NaN,20.8,NaN,...,189.4,NaN,NaN,637.7,NaN,NaN,NaN,28.5,76.1,64162.0
2,10005,66354.3,NaN,NaN,30403.2,134910.1,3632.5,NaN,31.4,NaN,...,714.7,NaN,NaN,3671.2,NaN,NaN,NaN,NaN,437.9,648243.1
3,12001,12562.9,NaN,NaN,NaN,557.2,342.9,25.4,8.5,114.3,...,663.9,NaN,NaN,78.6,NaN,43.9,NaN,230.5,1.3,25143.6
4,12003,1576.3,NaN,NaN,26.6,146.7,119.0,NaN,17.0,0.1,...,3.8,NaN,NaN,41.8,1.0,NaN,NaN,195.8,0.5,3345.0

In [3]:
insecticides = pesticides_2019[["ACEPHATE", "ACETAMIPRID", "CARBARYL","CHLORANTRANILIPROLE",
                              "CHLORPYRIFOS","CLOTHIANIDIN","CYANTRANILIPROLE",
                              "DIAZINON","DICROTOPHOS","DIFLUBENZURON","DIMETHOATE",
                              "DINOTEFURAN","ETHOPROPHOS","ETOXAZOLE","FIPRONIL",
                              "IMIDACLOPRID","MALATHION","METHOMYL","METHOXYFENOZIDE",
                              "PERMETHRIN","SULFOXAFLOR","TEBUPIRIMPHOS","TERBUFOS",
                              "THIAMETHOXAM"]]
herbicides = pesticides_2019[["2,4-D","ACETOCHLOR","ATRAZINE","BENTAZONE",
                            "BROMACIL","BROMOXYNIL","CHLORIMURON","DICAMBA",
                            "DIMETHENAMID","DIMETHENAMID & DIMETHENAMID-P",
                            "DIMETHENAMID-P","DIURON","FLUOMETURON","GLYPHOSATE",
                           "HALOSULFURON","HEXAZINONE","IMAZETHAPYR","LINURON","METOLACHLOR",
                           "METOLACHLOR & METOLACHLOR-S","METOLACHLOR-S","METRIBUZIN",
                           "ORYZALIN","PROPAZINE","SIMAZINE","SULFENTRAZONE","TEBUTHIURON",
                           "THIOBENCARB","TRICLOPYR"]]
fungicides = pesticides_2019[["AZOXYSTROBIN","BENZOVINDIFLUPYR","BOSCALID","CYPRODINIL",
                           "DIMETHOMORPH","FLUOPICOLIDE","METALAXYL","METCONAZOLE",
                           "MYCLOBUTANIL","PROPICONAZOLE","PYRACLOSTROBIN","PYRIMETHANIL",
                           "TEBUCONAZOLE","TETRACONAZOLE","TRIFLOXYSTROBIN"]]

In [4]:
pesticides_2019['Insecticide Sum'] = insecticides.sum(axis=1)
pesticides_2019['Herbicide Sum'] = herbicides.sum(axis=1)
pesticides_2019['Fungicide Sum'] = fungicides.sum(axis=1)
pesticides_2019.head()

,AREA_FIPS_CODE,"2,4-D",ACEPHATE,ACETAMIPRID,ACETOCHLOR,ATRAZINE,AZOXYSTROBIN,BENTAZONE,BENZOVINDIFLUPYR,BOSCALID,...,TERBUFOS,TETRACONAZOLE,THIAMETHOXAM,THIOBENCARB,TRICLOPYR,TRIFLOXYSTROBIN,Grand Total,Insecticide Sum,Herbicide Sum,Fungicide Sum
0,10001,12874.8,NaN,NaN,8918.9,32489.9,967.9,NaN,16.2,NaN,...,1895.9,NaN,NaN,NaN,NaN,226.1,213302.8,5800.7,203083.5,4418.6
1,10003,1424.7,2.4,0.9,3130.3,8243.2,301.5,NaN,20.8,NaN,...,637.7,NaN,NaN,NaN,28.5,76.1,64162.0,1935.5,60729.8,1496.7
2,10005,66354.3,NaN,NaN,30403.2,134910.1,3632.5,NaN,31.4,NaN,...,3671.2,NaN,NaN,NaN,NaN,437.9,648243.1,10419.4,629484.6,8339.1
3,12001,12562.9,NaN,NaN,NaN,557.2,342.9,25.4,8.5,114.3,...,78.6,NaN,43.9,NaN,230.5,1.3,25143.6,3536.4,20414.3,1192.9
4,12003,1576.3,NaN,NaN,26.6,146.7,119.0,NaN,17.0,0.1,...,41.8,1.0,NaN,NaN,195.8,0.5,3345.0,246.9,2861.0,237.1

In [5]:
pesticides_2019.tail()

,AREA_FIPS_CODE,"2,4-D",ACEPHATE,ACETAMIPRID,ACETOCHLOR,ATRAZINE,AZOXYSTROBIN,BENTAZONE,BENZOVINDIFLUPYR,BOSCALID,...,TERBUFOS,TETRACONAZOLE,THIAMETHOXAM,THIOBENCARB,TRICLOPYR,TRIFLOXYSTROBIN,Grand Total,Insecticide Sum,Herbicide Sum,Fungicide Sum
3059,09009,166.7,NaN,26.6,90.7,176.8,0.1,NaN,NaN,15.7,...,NaN,NaN,3.3,NaN,NaN,9.4,1605.5,291.6,1223.7,90.2
3060,09011,398.3,NaN,6.3,687.2,1137.6,0.1,NaN,NaN,3.2,...,NaN,NaN,2.2,NaN,NaN,1.7,8412.2,430.0,7897.6,84.6
3061,09013,283.1,NaN,9.9,506.8,841.1,0.0,NaN,NaN,2.5,...,NaN,NaN,6.3,NaN,NaN,1.5,6374.4,374.8,5903.3,96.3
3062,09015,340.2,NaN,12.6,620.8,1019.1,0.0,NaN,NaN,7.6,...,NaN,NaN,2.1,NaN,NaN,4.5,7610.0,448.0,7066.4,95.6
3063,Grand Total,22361443.9,5855133.4,66748.7,27712782.3,33663059.4,1301556.7,1058728.9,150928.9,372891.2,...,768589.7,108574.2,145243.1,780582.2,1039730.6,471080.4,341070497.0,14598036.4,320204392.9,6266201.4

In [6]:
insecticide_total = pesticides_2019["Insecticide Sum"].sum
herbicide_total = pesticides_2019["Herbicide Sum"].sum
fungicide_total = pesticides_2019["Fungicide Sum"].sum

In [7]:
print(insecticide_total)

<bound method NDFrame._add_numeric_operations.<locals>.sum of 0           5800.7
1           1935.5
2          10419.4
3           3536.4
4            246.9
           ...
3059         291.6
3060         430.0
3061         374.8
3062         448.0
3063    14598036.4
Name: Insecticide Sum, Length: 3064, dtype: float64>

In [8]:
pesticides_2018 = pd.read_csv(Path('2018_pesticides_complete.csv'))
pesticides_2018.head(50)

,Year,1-METHYL CYCLOPROPENE,"2,4-D","2,4-DB",6-BENZYLADENINE,ABAMECTIN,ACEPHATE,ACEQUINOCYL,ACETAMIPRID,ACETOCHLOR,...,TRIFLURALIN,TRIFLUSULFURON,TRINEXAPAC,TRITICONAZOLE,UNICONAZOLE,ZETA-CYPERMETHRIN,ZINC,ZIRAM,ZOXAMIDE,Grand Total
0,2018,147.7,21672486.9,352384.4,2227.5,42441.2,2218676.5,5456.4,59929,24893748,...,3952411.9,285.4,8.5,114.5,0.3,106879.9,19112.6,557924.4,21611.4,578646550.7

In [9]:
insecticides = pesticides_2018[["ACEPHATE", "ACETAMIPRID", "CARBARYL","CHLORANTRANILIPROLE",
                              "CHLORPYRIFOS","CLOTHIANIDIN","CYANTRANILIPROLE",
                              "DIAZINON","DICROTOPHOS","DIFLUBENZURON","DIMETHOATE",
                              "DINOTEFURAN","ETHOPROPHOS","ETOXAZOLE","FIPRONIL",
                              "IMIDACLOPRID","MALATHION","METHOMYL","METHOXYFENOZIDE",
                              "PERMETHRIN","SULFOXAFLOR","TEBUPIRIMPHOS","TERBUFOS",
                              "THIAMETHOXAM"]]
herbicides = pesticides_2018[["2,4-D","ACETOCHLOR","ATRAZINE","BENTAZONE",
                            "BROMACIL","BROMOXYNIL","CHLORIMURON","DICAMBA",
                            "DIMETHENAMID","DIMETHENAMID & DIMETHENAMID-P",
                            "DIMETHENAMID-P","DIURON","FLUOMETURON","GLYPHOSATE",
                           "HALOSULFURON","HEXAZINONE","IMAZETHAPYR","LINURON","METOLACHLOR",
                           "METOLACHLOR & METOLACHLOR-S","METOLACHLOR-S","METRIBUZIN",
                           "ORYZALIN","PROPAZINE","SIMAZINE","SULFENTRAZONE","TEBUTHIURON",
                           "THIOBENCARB","TRICLOPYR"]]
fungicides = pesticides_2018[["AZOXYSTROBIN","BENZOVINDIFLUPYR","BOSCALID","CYPRODINIL",
                           "DIMETHOMORPH","FLUOPICOLIDE","METALAXYL","METCONAZOLE",
                           "MYCLOBUTANIL","PROPICONAZOLE","PYRACLOSTROBIN","PYRIMETHANIL",
                           "TEBUCONAZOLE","TETRACONAZOLE","TRIFLOXYSTROBIN"]]

In [10]:
pesticides_2018['Insecticide Sum'] = insecticides.sum(axis=1)
pesticides_2018['Herbicide Sum'] = herbicides.sum(axis=1)
pesticides_2018['Fungicide Sum'] = fungicides.sum(axis=1)
pesticides_2018.head()

,Year,1-METHYL CYCLOPROPENE,"2,4-D","2,4-DB",6-BENZYLADENINE,ABAMECTIN,ACEPHATE,ACEQUINOCYL,ACETAMIPRID,ACETOCHLOR,...,TRITICONAZOLE,UNICONAZOLE,ZETA-CYPERMETHRIN,ZINC,ZIRAM,ZOXAMIDE,Grand Total,Insecticide Sum,Herbicide Sum,Fungicide Sum
0,2018,147.7,21672486.9,352384.4,2227.5,42441.2,2218676.5,5456.4,59929,24893748,...,114.5,0.3,106879.9,19112.6,557924.4,21611.4,578646550.7,11702775.1,315185394.5,6136136.7

In [11]:
pesticides_2019 = pesticides_2018[["Year","Insecticide Sum", "Herbicide Sum", "Fungicide Sum"]]
pesticides_2019

   Year  Insecticide Sum  Herbicide Sum  Fungicide Sum
0  2018       11702775.1    315185394.5      6136136.7

In [12]:
pesticides_2013_2017 = pd.read_csv(Path('2013-2017_complete.csv'))
pesticides_2013_2017.head(50)

,Year,1-METHYL CYCLOPROPENE,"2,4-D","2,4-DB",6-BENZYLADENINE,ABAMECTIN,ABSCISIC ACID,ACEPHATE,ACEQUINOCYL,ACETAMIPRID,...,IMAZAMETHABENZ,IMAZAMOX,IMAZAPIC,IMAZAPYR,IMAZAQUIN,IMAZETHAPYR,IMAZOSULFURON,IMIDACLOPRID,INDAZIFLAM,Grand Total
0,2013,125.5,19006276.0,284090.8,2472.1,65891.7,NaN,1321034.5,6245.9,37320.2,...,NaN,94949.3,21380.2,528.4,88206.2,272526.3,12629.1,973489.1,20671.0,302458279.4
1,2014,NaN,18308435.5,353465.8,2984.2,58818.9,NaN,2103576.4,6746.5,43647.4,...,9844.5,118667.4,24565.2,659.2,55416.6,325773.9,11206.4,1054158.4,NaN,308451349.0
2,2015,343.2,20146859.7,373134.9,1574.3,30420.1,NaN,1591731.6,7168.3,49019.4,...,2054.0,96553.6,30408.5,3.0,42154.1,360963.7,11304.2,467987.0,NaN,302803161.8
3,2016,570.2,21448028.0,651563.1,1870.9,32497.4,NaN,1987022.6,6102.1,48536.0,...,14491.4,100511.3,26483.8,172783.8,23730.3,291890.5,7951.9,453283.9,NaN,320385047.6
4,2017,5174.3,21489465.2,278392.6,2311.3,45276.3,0.8,3291062.4,5324.4,64859.1,...,10362.7,86031.8,29329.5,48.5,83426.2,331981.1,12607.7,637841.4,NaN,330292941.8

In [13]:
insecticides = pesticides_2013_2017[["ACEPHATE", "ACETAMIPRID", "CARBARYL","CHLORANTRANILIPROLE",
                              "CHLORPYRIFOS","CLOTHIANIDIN","CYANTRANILIPROLE",
                              "DIAZINON","DICROTOPHOS","DIFLUBENZURON","DIMETHOATE",
                              "DINOTEFURAN","ETHOPROPHOS","ETOXAZOLE","FIPRONIL",
                              "IMIDACLOPRID"]]
herbicides = pesticides_2013_2017[["2,4-D","ACETOCHLOR","ATRAZINE","BENTAZONE",
                            "BROMACIL","BROMOXYNIL","CHLORIMURON","DICAMBA",
                            "DIMETHENAMID","DIMETHENAMID & DIMETHENAMID-P",
                            "DIMETHENAMID-P","DIURON","FLUOMETURON","GLYPHOSATE",
                           "HALOSULFURON","HEXAZINONE","IMAZETHAPYR"]]
fungicides = pesticides_2013_2017[["AZOXYSTROBIN","BENZOVINDIFLUPYR","BOSCALID","CYPRODINIL",
                           "DIMETHOMORPH","FLUOPICOLIDE"]]

In [14]:
pesticides_2013_2017['Insecticide Sum'] = insecticides.sum(axis=1)
pesticides_2013_2017['Herbicide Sum'] = herbicides.sum(axis=1)
pesticides_2013_2017['Fungicide Sum'] = fungicides.sum(axis=1)
pesticides_2013_2017.head()

,Year,1-METHYL CYCLOPROPENE,"2,4-D","2,4-DB",6-BENZYLADENINE,ABAMECTIN,ABSCISIC ACID,ACEPHATE,ACEQUINOCYL,ACETAMIPRID,...,IMAZAPYR,IMAZAQUIN,IMAZETHAPYR,IMAZOSULFURON,IMIDACLOPRID,INDAZIFLAM,Grand Total,Insecticide Sum,Herbicide Sum,Fungicide Sum
0,2013,125.5,19006276.0,284090.8,2472.1,65891.7,NaN,1321034.5,6245.9,37320.2,...,528.4,88206.2,272526.3,12629.1,973489.1,20671.0,302458279.4,11072278.2,218119445.9,1546943.9
1,2014,NaN,18308435.5,353465.8,2984.2,58818.9,NaN,2103576.4,6746.5,43647.4,...,659.2,55416.6,325773.9,11206.4,1054158.4,NaN,308451349.0,12149559.2,217266517.0,1461141.7
2,2015,343.2,20146859.7,373134.9,1574.3,30420.1,NaN,1591731.6,7168.3,49019.4,...,3.0,42154.1,360963.7,11304.2,467987.0,NaN,302803161.8,8884189.8,219011411.2,1603002.0
3,2016,570.2,21448028.0,651563.1,1870.9,32497.4,NaN,1987022.6,6102.1,48536.0,...,172783.8,23730.3,291890.5,7951.9,453283.9,NaN,320385047.6,8940230.3,227220033.0,1676349.3
4,2017,5174.3,21489465.2,278392.6,2311.3,45276.3,0.8,3291062.4,5324.4,64859.1,...,48.5,83426.2,331981.1,12607.7,637841.4,NaN,330292941.8,11192101.9,232489115.3,1894197.7

In [16]:
pesticides_2013_2017 = pesticides_2013_2017[["Year","Insecticide Sum", "Herbicide Sum", "Fungicide Sum"]]
pesticides_2013_2017

   Year  Insecticide Sum  Herbicide Sum  Fungicide Sum
0  2013       11072278.2    218119445.9      1546943.9
1  2014       12149559.2    217266517.0      1461141.7
2  2015        8884189.8    219011411.2      1603002.0
3  2016        8940230.3    227220033.0      1676349.3
4  2017       11192101.9    232489115.3      1894197.7

In [19]:
final_df = pd.DataFrame({
    "Year": ["2013", "2014", "2015", "2016", "2017", "2018", "2019"],
    "Insecticide Sum": [11072278.2, 12149559.2, 8884189.8, 8940230.3, 11192101.9, 11702775.1, 14598036.4],
    "Herbicide Sum": [218119445.9, 217266517.0, 219011411.2, 227220033.0, 232489115.3, 315185394.5, 320204392.9],
    "Fungicide Sum": [1546943.9, 1461141.7, 1603002.0, 1676349.3, 1894197.7, 6136136.7, 6266201.4]
})
final_df

   Year  Insecticide Sum  Herbicide Sum  Fungicide Sum
0  2013       11072278.2    218119445.9      1546943.9
1  2014       12149559.2    217266517.0      1461141.7
2  2015        8884189.8    219011411.2      1603002.0
3  2016        8940230.3    227220033.0      1676349.3
4  2017       11192101.9    232489115.3      1894197.7
5  2018       11702775.1    315185394.5      6136136.7
6  2019       14598036.4    320204392.9      6266201.4

In [20]:
#exporting to a csv
#final_df.to_csv("pesticides_by_all_years.csv", index = False, header = True)